# Ignore __pycache__
**/__pycache__

# Ignore macOS file structure file
**/.DS_Store

# Remove all files in output-videos
front-end/output-videos/*
# Exclude the removal of .gitkeep in order to commit empty file to git
!front-end/output-videos/.gitkeep
